.info {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;

    @media (max-width: 668px) {
        flex-direction: column;
        width: 50%;
    }

    .info_container {

        display: flex;
        align-items: center;

        @media (max-width: 668px) {
            margin: 1rem 0rem;
        }

        .icon_back {
            padding: 0.7rem;
            background-color: rgba(236, 33, 101, 0.3);
            border-radius: 100%;
            display: flex
        }

        .followers-icon {
            background-color: rgba(87, 189, 82, 0.3);
        }

        .gists {
            background-color: rgba(210, 218, 70, 0.2);
        }

        .following {
            background-color: rgba(70, 190, 182, 0.3);
        }

        .info_group {

            margin: 0rem 1.7rem;

            p {
                color: grey;
            }
        }

    }

}