.navbar {

    padding: 1rem;
    display: flex;    
    justify-content: center;

    .user_info {
        display: flex;
        align-items: center;

        img {
            width: 35px;
            height: 35px;
            border-radius: 100%;
        }

        h4 {
            margin: 0rem 1rem;

            span {
                color: grey;
            }
        }

        button {
            color: grey;
            border: 1px solid grey;
            padding: 0.4rem 1.2rem;
            border-radius: 50px;
            margin-left: 1rem;

            &:hover {
                color: white;
                background-color: grey;
                cursor: pointer;
            }
        }
    }   
}