.search {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 668px) {
        flex-direction: column;
        padding: 0.5rem;

    }

    .input-group {
        display: flex;
        width: 70%;
        align-items: center;

        @media (max-width: 668px) {
            width: 90%;
            margin: auto;
        }

        .icon {
            padding: 0.5rem;
            margin-top: 0.2rem;
        }

        input {
            width: 100%;
            padding: 0.5rem;
            font-size: 1.2rem;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid grey ;

            &:focus {
                border-bottom: 1px solid var(--mainGreen) ;

                &::placeholder {  opacity: 0 }
                &:-ms-input-placeholder { opacity: 0 }
                &::-ms-input-placeholder { opacity: 0 }
            }
            
        }
    }

    .other-group {
        display: flex;
        align-items: center;
        width: 30%;
        padding: 0.5rem;
        justify-content: space-between;

        @media (max-width: 668px) {
            width: 90%;
            justify-content: space-evenly;
        }

        .error {
            color: red;
            text-align: center;
            font-size: 0.8rem;
        }

        h3 {
            color: grey;
            text-align: center;
            margin: 0rem 0.5rem;

            @media (max-width: 668px) {
                font-size: 0.8rem;
            }
        }

        button {
            color: var(--mainGreen);
            border: 1px solid var(--mainGreen);
            padding: 0.4rem 1.2rem;
            border-radius: 50px;
            font-size: 1.1rem;

            &:hover {
                color: white;
                background-color: var(--mainGreen);
                cursor: pointer;
            }
        }

    }
}