:root {
  --mainGreen: #47A699
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'Red Rose', cursive;
}

body {
  background-color: #e7e7e7f3;
}

a {
  text-decoration: none;
  color: inherit
}
