.container_error {
    background-color: hsla(182, 51%, 54%, 1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 0 81%, 100% 81%);
    max-width: 800px;
    margin: auto;

    img {
        width: 300px;
        height: 300px;
    }

    h3 {
        color: #0070BB;
        text-align: center;
        margin: 1rem 0rem;
    }

    .error_button {
        margin: 1rem 0rem;
        
        a {
            color: whitesmoke;
            letter-spacing: 1px;
            background-color: rgba(13, 84, 131, 0.8);
            padding: 0.8rem 1.6rem;
            border-radius: 10px;
            border: 1px solid transparent;

            &:hover {
                background-color: whitesmoke;
                border: 1px solid blue;
                color: #0d5483cc;
            }
            
        }
    }


}